
<table class = "table table-striped" >
  <thead class = "thead-dark">
    <tr>
      <th scope="col">Task</th>
      <th scope="col">Project</th>
      <th scope="col">Due Date </th>
      <th scope="col">Description</th>
      <th scope="col">Complete<th>
      <th scope="col">Edit/Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr scope="row">
      <td><%= task.name %></td>
      <td> <%= task.project.title %> </td>
      <td> <%= task.due_date.strftime("%B %d, %Y") unless task.due_date.nil?  %> </td>
      <td> <%= task.desc  %> </td>
      <td> <%= task.completed %> </td>
    </tr>
    </tbody>

  </table>
