<%= error_messages_for(@project) %>
<div class="card m-auto shadow-lg p-3 mb-5 bg-white rounded">
  <div class="card-body">
  <%= form_for [@project, @feature], class: "form-group row"  do |builder| %>

      <%= builder.label :name %>
      <%= builder.text_field :name, required: true, class: "form-control" %>

      <%= builder.label :desc, "Description" %>
      <%= builder.text_field :desc, class: "form-control" %>
      
      <%= builder.submit class: "btn btn-primary m-2" %>

  <% end %>
  </div>
</div>
