
<h1>Your Projects</h1>

<div class="row searcher">
  <div class="col-md-6">
    <%= form_tag(projects_path,method: :get, class: "form-inline mb-3") do %>
      <%= text_field_tag :search, params[:search], class: "form-control" %>
      <%= submit_tag("Search" , name: nil, class: "btn btn-primary mr-1 ml-1") %>
      <%= link_to "Reset", projects_path, class: "btn btn-danger mr-1 ml-1" %>
    <% end %>
  </div>
  <div class="col-md-6">
    <%= form_for(@project, class: "form-inline mb-3") do |f| %>
      <%= f.text_field :title, required:true, class: "form-control" %>
      <%= f.submit class: "btn btn-primary m-2" %>
    <% end %>
  </div>

</div>

<table class="table table-striped table-hover">
  <thead class="thead-dark">
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |p| %>
      <tr>
        <td><%= p.title %></td>
        <td><%= p.description  %></td>
        <td><%= link_to "Show", p, class: "link-option", target: :_blank %></td>
        <td><%= link_to "Edit", edit_project_path(p), class: "link-option" %></td>
        <td><%= link_to "Destroy", p, method: :delete, data: { confirm: "Are you sure?" }, class: "link-option" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
