<h2>PROJECT Dashboard</h2>
<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; open</span>
<p>
  <strong>Name:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<%= link_to "Back", projects_path, class: "btn btn-light" %>
<%= link_to "Edit", edit_project_path(@project), class: "btn btn-light" %>
<br>

<div id="container">
  <div id="mySidenav" class="sidenav">

    <a  style="font-size:30px;cursor:pointer" onclick="closeNav()">&#9776; collapse</a>
    <a  data-toggle="collapse" href="#card1" role="button" aria-expanded="false" aria-controls="card1">Card1</a>
    <a  data-toggle="collapse" href="#card2" role="button" aria-expanded="false" aria-controls="card2">Card2</a>
    <a  data-toggle="collapse" href="#card3" role="button" aria-expanded="false" aria-controls="card3">Card3</a>
  </div>

  <div class="row">
    <div class="col m-0 p-0 collapse show" id="card1" >
      <div class="card">
        <div class="card-body">
          <a  href="#card2" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <h5 class="card-title">Current Iteration</h5>

          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

    <div class="col m-0 p-0 collapse show" id="card2">
      <div class="card">
        <div class="card-body">
          <a  href="#card2" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <h5 class="card-title">Backlog</h5>

          <div class="card-text">

          </div>
          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
              &plus; Add Feature
          </button>

          <div class="collapse" id="collapseExample">
            <%= render "feature" %>
          </div>

          <% @project.features.each do |fet| %>

            <div class="card p-2 alert-warning">
              <%= "#{fet.name} #{fet.id}" %>



              <div class="card-body alert-info">
                All Tasks
                <% fet.tasks.each do |t| %>
                  <%= "#{t.name}" %>
                  <%= "#{t.completed}" %>
                  <%= "#{t.user_id}" %>
                <% end %>
              </div>
          </div>

          <% end %>

          <div class="card">

            <div>
              <%= render "comment" %>
            </div>
          </div>

          Comments:
          <% @project.comments.order("updated_at DESC").each do |com| %>
            <div class="card">
              <strong><%= "#{com.commenter_name}" %></strong>
              <%= "#{com.content}" %>
              <em><%= "#{com.updated_at}" %></em>
            </div>
          <% end %>

        </div>
      </div>
    </div>

    <div class="col m-0 p-0 collapse show" id="card3">
      <div class="card">
        <div class="card-body">
          <a  href="#card3" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <h5 class="card-title">Icebox</h5>

          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

  </div>
</div>

<!--
<div id="container">

  <div id="mySidenav" class="sidenav">
    <button class="cardSelect">Overview</button>
    <button class="cardSelect">Card1</button>
    <button class="cardSelect">Card2</button>
    <button class="cardSelect">Card3</button>
  </div>

  <div class="row">
    <div class="col-md-4 cardWrap" id="card1">
      <div class="card">
        <div class="card-body">
          <p><a href="#card1" class="close" data-dismiss="alert" aria-label="close">&times;</a></p>
          <h5 class="card-title">Card Num 1</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

    <div class="col-md-4 cardWrap" id="card2">
      <div class="card">
        <div class="card-body">
          <p><a href="#card2" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          </p>
          <h5 class="card-title">Card Num 2</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

    <div class="col-md-4 cardWrap" id="card3">
      <div class="card">
        <div class="card-body">
          <p>
            <a href="#card3" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          </p>
          <h5 class="card-title">Card Num 3</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

  </div>
</div>
-->
