<h2>PROJECT Dashboard</h2>
<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; open</span>
<p>
  <strong>Name:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<%= link_to "Back", projects_path, class: "btn btn-light" %>
<br>
<%= link_to "Edit", edit_project_path(@project), class: "btn btn-light" %>
<br>

<div id="container">
  <div id="mySidenav" class="sidenav">

    <a class="active" href="#home">Overview</a>
    <a href="#" onclick="$('.c1').show()">Card1</a>
    <a href="#" onclick="$('.c2').show()">Card2</a>
    <a href="#" onclick="$('.c3').show()">Card3</a>
  </div>

  <div class="row">
    <div class="col-md-4 c1" id="card1" >
      <div class="card">
        <div class="card-body">
          <a  id="hide" class="close" data-hide="c1"  id="hide">&times;</a>
          <h5 class="card-title">Current Iteration</h5>

          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

    <div class="col-md-4 c2" id="card2">
      <div class="card">
        <div class="card-body">
          <a  class="close" data-hide="c2" id="hide">&times;</a>
          <h5 class="card-title">Backlog</h5>

          <div class="card-text">
            <%= render @project.tasks %>
          </div>
          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
              &plus; Add Feature
          </button>

          <div class="collapse" id="collapseExample">
            <%= render "feature" %>
          </div>

          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseTask" aria-expanded="false" aria-controls="collapseTask">
              &plus; Add Task
          </button>
          <div class="collapse" id="collapseTask">
            <%= render "tasks/form" %>
          </div>

        </div>
      </div>
    </div>

    <div class="col-md-4 c3" id="card3">
      <div class="card">
        <div class="card-body">
          <a  class="close" data-hide="c3">&times;</a>
          <h5 class="card-title">Icebox</h5>

          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

  </div>
</div>

<!--
<div id="container">

  <div id="mySidenav" class="sidenav">
    <button class="cardSelect">Overview</button>
    <button class="cardSelect">Card1</button>
    <button class="cardSelect">Card2</button>
    <button class="cardSelect">Card3</button>
  </div>

  <div class="row">
    <div class="col-md-4 cardWrap" id="card1">
      <div class="card">
        <div class="card-body">
          <p><a href="#card1" class="close" data-dismiss="alert" aria-label="close">&times;</a></p>
          <h5 class="card-title">Card Num 1</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

    <div class="col-md-4 cardWrap" id="card2">
      <div class="card">
        <div class="card-body">
          <p><a href="#card2" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          </p>
          <h5 class="card-title">Card Num 2</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

    <div class="col-md-4 cardWrap" id="card3">
      <div class="card">
        <div class="card-body">
          <p>
            <a href="#card3" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          </p>
          <h5 class="card-title">Card Num 3</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

  </div>
</div>
-->
